#background {
	position: fixed;
	z-index: -1;
	padding: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: blue;
}

table, th, td {
	border: 1px solid black;
}

#cpuPlay, #userPlay, #winner {
	font-weight: bold;
}

#results {
	visibility: hidden;
}

#playbuttons {
	font-size: 10rem;
}